@use "typography" as *;
@use "../partials/variables" as *;
@use "../partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", sans-serif;
}
.header {
  background-color: $primaryblack;
  color:#E1E1E1;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include tablet {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: flex-end;
  }
  @include desktop {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: flex-end;
  }
}
.header__content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  @include tablet {
    flex-direction: row;
    display: inline-flex;
    align-items: baseline;
    margin-left: 50px;
  }
  @include desktop {
    flex-direction: row;
    display: inline-flex;
    align-items: baseline;
    margin-right: 400px;
    width:50%;
  }
}

.header__logo {margin-left: 10px;}

.header__title {
  text-decoration: none;
  font-size: 2rem;
  color: $primarywhite;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header__menu {
  color: $mercurycolor;
  display: flex;
  text-decoration: none;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  @include tablet {
    border-bottom: none;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    width:80%;
    margin-left: 10px;
    
    
  }
  @include desktop {
    border-bottom: none;
    display: flex;
    text-decoration: none;
    
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

// .header__menu {
//   list-style: none;
//   display: flex;
//   width: 100%;
//   flex-wrap: wrap;
//   justify-content: center;
//   color:#E1E1E1;
// }

.header__menu-list {
  width: 50%;
  border-bottom: 2px solid $primaryblack;
  padding-bottom: 1rem;
  
  &--active {
    color:white;
    border-color:white;
    @include tablet {width: fit-content;
    border-bottom: 4px solid white;}
  @include desktop {width: fit-content;
    border-bottom: 4px solid white;}
  }
}
footer {
  background-color: $primaryblack;
  color: $primarywhite;
  text-decoration: none;

  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
    height: 50%;
  }
}

.footer__text {
  margin-left: 10px;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 0;
    width:100%;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 60px;
    width:100%;
  }
}

.footer__socialmedia {

  img {margin-right:20px;}
  
  @include tablet {
    left: 250px;
    bottom: 40px;
    position: relative;
  }
  @include desktop {
    flex-direction: row;
    left: 31.25rem;
    bottom: 7.4375rem;
  }
}
a {
  @include tablet {
    margin-right: 0.625rem;
  }
}

.footer__title {
  padding-top: 1.5rem;
  padding-bottom: 10px;
  font-weight: 500;

  @include tablet {
    font-size: 1.875rem;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 2.1875rem;
  }
  @include desktop {
    font-size: 1.875rem;
    font-weight: 400;
    position: relative;
    bottom: 5rem;
    left: 13.5rem;
  }
}

.footer__manager,
.footer__bookingagent-pearl,
.footer__bookingagent-carson {
  padding-bottom:10px;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: max-content;
    margin-left: 1.25rem;
  }
}
.footer__logo {
  margin-top: 2rem;
  @include tablet {
    margin-top: 3.5rem;
    left: 37.5rem;
    position: absolute;
  }
  @include desktop {
    margin-top: -0.625rem;
    left: 65.625rem;
    position: absolute;
  }
}
.footer__copyright {
  font-size: 11px;
  @include tablet {
    position: relative;
    margin-bottom: 1.25rem;
    left: 2.5rem;
  }
  @include desktop {
    margin-left: 13rem;
  }
}
.footer__containers {
  @include tablet {
    display: inline-flex;
    margin-right: 1.25rem;
    justify-content: space-around;
    margin-bottom: 3.125rem;
    margin-left: 1.25rem;
    white-space: nowrap;
    padding-left: 1.25rem;
  }
  @include desktop {
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 1.25rem;
    margin-top: 3.125rem;
    right: 1.5625rem;
    position: relative;
  }
}
.footer__bookingagent-pearl-name,
.footer__bookingagent-carson-name,
.footer__manager-name {
  font-weight: 500;
  white-space: nowrap;
  margin-right: 1.25rem;
  padding-bottom: 10px;
}
.footer__manager-email,
.footer__bookingagent-carson-email,
.footer__bookingagent-pearl-email {
  color: $primarywhite;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer__bookingagent-carson-container {
  @include tablet {
    padding-left: 1.5625rem;
  }
}
