@use "typography" as *;
@use "../partials/variables" as *;
@use "../partials/mixins" as *;

body {
  font-family: "Avenir Next", sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: $primaryblack;
  color: $primarywhite;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    display: inline-flex;
    align-items: baseline;
    margin-left: 50px;
  }
  @include desktop {
    flex-direction: row;
    position: relative;
    display: inline-flex;
    align-items: baseline;
    right: 300px;
  }
}

.header__title {
  text-decoration: none;
  font-size: 2rem;
  color: $primarywhite;
  align-items: center;
  display: flex;
  flex-direction: column;

  @include desktop {
    display: flex;
    width: 6.25rem;
    height: auto;
    display: block;
    margin-right: 1rem;
  }
}

.header__menu-bio {
  text-underline-offset: 2.1875rem;
  text-decoration: underline 10px white;
  color: white;
  display: inline-flex;
  border-bottom: #fff solid 0.125rem;
  @include tablet {
    margin-left: 50px;
    margin-bottom: 30px;
    border-bottom: none;
  }
  @include desktop {
    padding-left: 2.8125rem;
    text-decoration: underline 3px;
    position: relative;
  }
}

.header__menu-shows {
  text-decoration: none;
  color: $primarywhite;
  font-weight: 300;
}

.header__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.header__menu li {
  margin-right: 2rem;
  font-size: 20px;
  font-weight: 600;
}

.header__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
footer {
  background-color: $primaryblack;
  color: $primarywhite;
  text-decoration: none;
  @include tablet {
    display: flex;
  }
  @include desktop {
    display: flex;
    height: 20vh;
  }
}

.footer__text {
  margin-left: 10px;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 0;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 60px;
  }
}

.footer__socialmedia {
  @include tablet {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-direction: row;
    left: 250px;
    bottom: 55px;
    position: relative;
  }
  @include desktop {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: baseline;
    flex-direction: row;
    position: relative;
    left: 31.25rem;
    bottom: 8.4375rem;
  }
}
a {
  padding-right: 1rem;
  @include tablet {
    margin-right: 0.625rem;
  }
}

.footer__title {
  padding-top: 1.5rem;
  @include tablet {
    font-size: 1.875rem;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 2.1875rem;
  }
  @include desktop {
    font-size: 1.875rem;
    font-weight: 400;
    align-self: flex-start;
    position: relative;
    bottom: 5rem;
    left: 12.5rem;
  }
}

.footer__manager,
.footer__bookingagent-pearl,
.footer__bookingagent-carson {
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: max-content;
    margin-left: 1.25rem;
  }
}
.footer__logo {
  margin-top: 2rem;
  @include tablet {
    margin-top: 3.5rem;
    left: 37.5rem;
    position: absolute;
  }
  @include desktop {
    margin-top: -0.625rem;
    left: 65.625rem;
    position: absolute;
  }
}
.footer__copyright {
  font-size: small;
  @include tablet {
    position: relative;
    margin-bottom: 1.25rem;
    left: 2.5rem;
  }
  @include desktop {
    left: 15rem;
  }
}
.footer__containers {
  @include tablet {
    display: inline-flex;
    margin-right: 1.25rem;
    justify-content: space-around;
    margin-bottom: 3.125rem;
    margin-left: 1.25rem;
    white-space: nowrap;
    padding-left: 1.25rem;
  }
  @include desktop {
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 1.25rem;
    margin-top: 3.125rem;
    right: 1.5625rem;
    position: relative;
  }
}
.footer__bookingagent-pearl-name,
.footer__bookingagent-carson-name,
.footer__manager-name {
  font-weight: 500;
  white-space: nowrap;
  margin-right: 1.25rem;
}

.footer__bookingagent-carson-email,
.footer__bookingagent-pearl-email {
  color: $primarywhite;
  text-decoration: none;
  margin-bottom: -0.625rem;
}
.footer__bookingagent-carson-container {
  @include tablet {
    padding-left: 1.5625rem;
  }
}
