@font-face {
    font-family: 'Avenir Next';
    font-weight: 700;
    src: url('assets/fonts/AvenirNextLTPro-Bold.otf')
    format("opentype");
}
@font-face {
    font-family:'Avenir Next' ;
    font-weight: 600;
    src: url('assets/fonts/AvenirNextLTPro-Demi.otf') format("opentpe");
}
@font-face {
    font-family:'Avenir Next';
    font-weight: 400;
    src: url('assets/fonts/AvenirNextLTPro-Regular.otf') format("opentype");
}
@font-face {
    font-family:'Avenir Next';
    font-weight: 400;
    src: url('assets/fonts/AvenirNextLTPro.ttf') format("truetype");
}
@font-face {
    font-family:'Avenir Next';
    font-weight: 600;
    src: url('assets/fonts/AvenirNextLTProDemi.ttf') format("truetype");
}
@font-face {
    font-family:'Avenir Next';
    font-weight: 700;
    src: url('assets/fonts/AvenirNextLTProBold.ttf') format("truetype");
}
