@font-face {
    font-family: Avenir Next;
    font-weight: 700px;
    src: url(assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family:Avenir Next ;
    font-weight: 600px;
    src: url(assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
    font-family:Avenir Next;
    font: weight 400px;
    src: url(assets/fonts/AvenirNextLTPro-Regular.otf);
}