$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$primaryblack: #323232;
$primarywhite: #FFFFFF;
$darkblack: #000000; 
$secondarysilver: #AFAFAF
$dividerlinecolor: #E1E1E1; 
$altbackground: #FAFAFA;
$mobile-header-font-size:1.5rem;
$mobile-header-font-weight: 700px;
$mobile-subheader-font-size: .875rem; 
$mobile-subheader-font-weight: 600px;
$desktop-header-font-size:3.75rem;
$desktop-header-font-weight: 700px;
$photogallery: flex, row;