@use "partials/global" as *;
@use "partials/variables" as *;
@use "../styles/partials/mixins" as *;

.body {
  display: flex;
}

.hero__image {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-color: black;
  height: 60vw;
  position: relative;
  @include tablet {
    height: 40vw;
  }
  @include desktop {
    height: 50vw;
  }
}

.hero__opacity {
  background-color: $primaryblack;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  position: relative;
}

.hero__text {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: flex;
  bottom: auto;
  top: -65%;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.625rem;

  @include tablet {
    font-size: 3.75rem;
    font-weight: 600;
  }
  @include desktop {
    font-size: 5rem;
    display: flex;
    bottom: auto;
    margin-left: 6.5rem;
    font-weight: 600;
    margin-top: 100px;
  }
}


.about {
  padding: 1rem;
  @include tablet {
  }
  @include desktop {
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 1rem;
  }
}
.about__image {
  width: 100%;
  @include tablet {
    margin: auto;
    height: 21.875rem;
    width: 83%;
    margin-left: 3.125rem;
  }
  @include desktop {
    height: auto;
  }
}
.about__title {
  color: $primaryblack;
  font-weight: 600;
  @include desktop {
    position: relative;
    left: -1.25rem;
    font-size: 2.25rem;
    font-weight: 500;
  }
}
.about__quote {
  color: $primaryblack;
  font-weight: 500;
  @include tablet {
    margin-left: 3.125rem;
    margin-right: 1.25rem;
    padding-right: 3.125rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
  @include desktop {
    margin-right: 5rem;
    padding-right: 12.5rem;
    font-weight: 500;
  }
}

.about__quote-author {
  margin-bottom: 3.125rem;
  @include tablet {
    margin-left: 3.125rem;
  }
}
.about__description {
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
.about__bandbio {
  color: $primaryblack;
  display: flex;
  flex-direction: column;
  @include tablet {
    margin: 1.875rem;
  }
  @include desktop {
    margin: right 1rem;
  }
}
.about__bandname {
  font-size: 1rem;
  color: $primaryblack;
  font-weight: 600;
  @include tablet {
    margin-left: 1.875rem;
    font-size: 1.5rem;
    margin-bottom: 0.3125rem;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
.gallery {
  color: $primaryblack;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding: 1rem;
  background-color: $altbackground;
  @include tablet {
    justify-content: center;
    display: flex;
  }
  @include desktop {
    justify-content: center;
  }
}
.gallery__title {
  padding-left: 1.25rem;
  font-weight: 500;
  position: relative;
  top: 1.25rem;
  @include tablet {
    display: flex;
    position: relative;
    margin-left: 3rem;
    font-weight: 400;
    font-size: 1.875rem;
  }
  @include desktop {
    display: flex;
    position: relative;
    margin-left: 5.8rem;
    font-weight: 600;
    font-size: 1.875rem;
  }
}

.gallery__item {
  display: flex;
  justify-content: center;
  margin: 2%;
  @include tablet {
    width: 25%;
  }
}

.gallery__item img {
  max-width: 100%;
  height: auto;
}

// form styling area--------------------------------

.comments__container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  @include tablet {
    margin-left: 30px;
    padding-top: 30px;
    width: 90%;
  }
  @include tablet {padding:30px;}

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: $primaryblack;
    font-weight: 500;
    @include desktop {
      font-size: 34px;
    }
  }

  .comments__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 2px solid #e1e1e1;
    width: 100%;
    @include desktop {
      width: 50%;
      margin-top: 50px;
    }
    label {
      display: flex;
      flex-direction: column;
    }

    input[name="name"] {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: rgb(250 250 250);
      font-size: 12px;
      width: 75%;
      margin-left: 10px;

      &:focus {
        outline: none;
        border-color: blue;
      }
    }

    input[name="comment"] {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: rgb(250 250 250);
      font-size: 12px;
      width: 75%;
      height: 100%;
      padding-bottom: 100px;
      margin-left: 60px;
    }

    .comments__label-name,
    .comments__label-comment {
      font-size: 11px;
      color: $secondarysilver;
      display: flex;
      margin-left: 60px;
      padding: 5px;
      font-weight: 600;
    }

    .input-with-icon {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
    }
  }

  button {
    padding: 10px;
    border-radius: 5px;
    background-color: $primaryblack;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 75%;
    margin-left: 60px;
    margin-bottom: 40px;
    border: none;
    @include tablet {
      width: 20%;
      margin-left: 440px;
    }
    @include desktop {
      width: 25%;
      height: 100%;
    margin-left: 335px;
    }

    &:hover {
      background-color: darkblue;
    }
  }
}
// Comments section styling

// class of comments is for the entire comment section including all three comments
.comments {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 12px;

  @include tablet {
    padding: 70px;
    padding-top: 30px;
    font-size: 16px;
    padding-bottom: 30px;
  }
  @include desktop {
    margin-left: 0;
    padding:335px ;
    padding-top: 0;
    padding-bottom: 30px;
}
}
// class of comment is for each individual comment
.comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 2px solid #e1e1e1;
}

.commentDate {
  color: $secondarysilver;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  margin-left: 90px;

  @include tablet {
    margin-left: 350px;
  }
}

.commentImg {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
  border-radius: 50%;
}
.commentName {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: 500;

  @include tablet {
    margin-top: 5px;
  }
}

.commentText {
  margin-left: 50px;
}
