@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url("assets/fonts/AvenirNextLTPro-Demi.otf") format("opentpe");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url("assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url("assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url("assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
}
body {
  font-family: "Avenir Next", sans-serif;
  margin: 0;
}

.header {
  background-color: #323232;
  color: #FFFFFF;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .header__content {
    margin-left: -50rem;
    flex-direction: row;
  }
}

.header__title {
  text-decoration: none;
  font-size: 2rem;
  color: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .header__title {
    display: flex;
    width: 6.25rem;
    height: auto;
    display: block;
    margin-right: 1rem;
  }
}

.header__menu-bio {
  text-underline-offset: 2.1875rem;
  color: white;
  display: inline-flex;
  border-bottom: #fff solid 0.125rem;
}
@media screen and (min-width: 1280px) {
  .header__menu-bio {
    padding-left: 2.8125rem;
    -webkit-text-decoration: underline 3px;
            text-decoration: underline 3px;
    position: relative;
  }
}

.header__menu-shows {
  text-decoration: none;
  color: #FFFFFF;
}

.header__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.header__menu li {
  margin-right: 2rem;
}

.header__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
}

.hero__image {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-color: black;
  height: 35vh;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .hero__image {
    height: 30vh;
  }
}

.hero__opacity {
  background-color: #323232;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  position: relative;
}

.hero__text {
  color: #fff;
  text-decoration: none;
  position: relative;
  left: 0.5rem;
  display: flex;
  bottom: auto;
  top: -70%;
  margin-right: 0.3125rem;
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 5rem;
    display: flex;
    bottom: auto;
    top: -50%;
    margin-left: 6.5rem;
    font-weight: 600;
  }
}

.about {
  padding: 1rem;
}
@media screen and (min-width: 1280px) {
  .about {
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 1rem;
  }
}

.about__image {
  width: 100%;
}

.about__title {
  color: #323232;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .about__title {
    position: relative;
    left: -1.25rem;
    font-size: 2.25rem;
    font-weight: 500;
  }
}

.about__quote {
  color: #323232;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .about__quote {
    margin-right: 80px;
    padding-right: 200px;
    font-weight: 400;
  }
}

.about__quote-bryan {
  margin-bottom: 50px;
}

@media screen and (min-width: 1280px) {
  .about__description {
    display: flex;
    flex-direction: row;
  }
}

.about__bandbio {
  color: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .about__bandbio {
    margin: right 1rem;
  }
}

.about__bandname {
  font-size: 1rem;
  color: #323232;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .about__bandname {
    display: flex;
    flex-direction: row;
  }
}

.photogallery {
  color: #323232;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem;
}
@media screen and (min-width: 1280px) {
  .photogallery {
    justify-content: center;
  }
}

.photogallery__title {
  padding-left: 1.25rem;
  font-weight: 500;
  position: relative;
  top: 20px;
}
@media screen and (min-width: 1280px) {
  .photogallery__title {
    display: flex;
    position: relative;
    margin-left: 11.8rem;
    font-weight: 400;
    font-size: 30px;
  }
}

.photogallery-item {
  display: flex;
  justify-content: center;
  margin: 2%;
}
@media screen and (min-width: 1280px) {
  .photogallery-item {
    width: 21%;
  }
}

.photogallery-item img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #323232;
  color: #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
}
@media screen and (min-width: 1280px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 15vh;
  }
}

.footer__bookingagent-pearl-name,
.footer__bookingagent-carson-name,
.footer__manager-name {
  padding-top: 1.25rem;
  font-weight: 500;
}

.footer__bookingagent-carson-email,
.footer__bookingagent-pearl-email {
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .footer__socialmedia {
    position: absolute;
    bottom: -11rem;
    left: 27.5rem;
  }
}
.footer__socialmedia a {
  padding-right: 1rem;
}

.footer__title {
  padding-top: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .footer__title {
    position: relative;
    bottom: 5rem;
    display: inline-flex;
    left: 10.9375rem;
    margin-bottom: 7.5rem;
    white-space: nowrap;
  }
}

.footer__text {
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .footer__get-in-touch-section {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    align-items: center;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .footer__manager,
  .footer__bookingagent-pearl {
    padding-right: 3.4375rem;
  }
}

.footer__logo {
  margin-top: 2rem;
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    display: flex;
    position: relative;
    left: 9.375rem;
    margin: 1rem;
    bottom: 7.5rem;
  }
}

.footer__copyright {
  font-size: small;
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    position: relative;
    white-space: nowrap;
    right: 27.5rem;
    top: 3.75rem;
  }
}/*# sourceMappingURL=bio.css.map */