Body {
  font-family: avenir next;
  padding: 0;
  margin: 0;
}

/* CSS FOR THE MOBILE DISPLAY */
.body {
  display: flex;
}

.header {
  background-color: #323232;
  color: #FFFFFF;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__content {
  align-items: center;
}

.header__title {
  text-decoration: none;
  font-size: 2rem;
  color: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .header__title {
    display: flex;
    width: 100px;
    height: auto;
    display: block;
    margin-right: 16px;
  }
}

.header__menu-bio {
  text-underline-offset: 4px;
  color: white;
  display: inline-flex;
  padding-left: 20px;
  padding-right: 30px;
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  position: relative;
  width: 100%;
}

.header__menu-shows {
  text-decoration: none;
  color: #FFFFFF;
}

.header__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.header__menu li {
  margin-right: 2rem;
}

.header__menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.hero__image {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  height: 30vh;
  position: relative;
  background-color: black;
}

.hero__opacity {
  background-color: #323232;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
}

.hero__text {
  color: #fff;
  text-decoration: none;
  align-items: flex;
  margin-top: 9.375rem;
  padding: 0 16px;
  position: absolute;
  bottom: 50px;
}

.about {
  padding: 16px;
}
@media screen and (min-width: 1280px) {
  .about {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.about__image {
  width: 100%;
}

.about__title {
  padding-top: 24px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1280px) {
  .about__description {
    display: flex;
    flex-direction: row;
  }
}

.about__bandbio {
  display: flex;
  flex-direction: column;
}

.photogallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 16px;
}
@media screen and (min-width: 1280px) {
  .photogallery {
    justify-content: center;
  }
}

.photogallery-item {
  display: flex;
  justify-content: center;
  margin: 2%;
}
@media screen and (min-width: 1280px) {
  .photogallery-item {
    width: 21%;
  }
}

.photogallery-item img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #323232;
  color: #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
}
@media screen and (min-width: 1280px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer__bookingagent-carson-email,
.footer__bookingagent-pearl-email {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__socialmedia a {
  padding-right: 16px;
}

.footer__title {
  padding-top: 24px;
}

.footer__text {
  padding-left: 16px;
}
@media screen and (min-width: 1280px) {
  .footer__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}/*# sourceMappingURL=bio.css.map */