@use "partials/global" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

.body {
  display: flex;
}

.hero__image {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-color: black;
  height: 40vh;
  position: relative;
  @include tablet {
    height: 40vh;
  }
  @include desktop {
    height: 40vh;
  }
}

.hero__opacity {
  background-color: $primaryblack;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  position: relative;
}

.hero__text {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: flex;
  bottom: auto;
  top: -65%;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.625rem;

  @include tablet {
    font-size: 3.75rem;
    font-weight: 600;
    margin-top: 9.375rem;
  }
  @include desktop {
    font-size: 5rem;
    display: flex;
    bottom: auto;
    margin-left: 6.5rem;
    font-weight: 600;
    margin-top: 100px;
  }
}

.about {
  padding: 1rem;
  @include tablet {
  }
  @include desktop {
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 1rem;
  }
}
.about__image {
  width: 100%;
  @include tablet {
    margin: auto;
    height: 21.875rem;
    width: 83%;
    margin-left: 3.125rem;
  }
  @include desktop {
    height: auto;
  }
}
.about__title {
  color: $primaryblack;
  font-weight: 600;
  @include desktop {
    position: relative;
    left: -1.25rem;
    font-size: 2.25rem;
    font-weight: 500;
  }
}
.about__quote {
  color: $primaryblack;
  font-weight: 500;
  @include tablet {
    margin-left: 3.125rem;
    margin-right: 1.25rem;
    padding-right: 3.125rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
  @include desktop {
    margin-right: 5rem;
    padding-right: 12.5rem;
    font-weight: 500;
  }
}

.about__quote-author {
  margin-bottom: 3.125rem;
  @include tablet {
    margin-left: 3.125rem;
  }
}
.about__description {
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
.about__bandbio {
  color: $primaryblack;
  display: flex;
  flex-direction: column;
  @include tablet {
    margin: 1.875rem;
  }
  @include desktop {
    margin: right 1rem;
  }
}
.about__bandname {
  font-size: 1rem;
  color: $primaryblack;
  font-weight: 600;
  @include tablet {
    margin-left: 1.875rem;
    font-size: 1.5rem;
    margin-bottom: 0.3125rem;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
}
.gallery {
  color: $primaryblack;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding: 1rem;
  background-color: $altbackground;
  @include tablet {
    justify-content: center;
    display: flex;
  }
  @include desktop {
    justify-content: center;
  }
}
.gallery__title {
  padding-left: 1.25rem;
  font-weight: 500;
  position: relative;
  top: 1.25rem;
  @include tablet {
    display: flex;
    position: relative;
    margin-left: 3rem;
    font-weight: 400;
    font-size: 1.875rem;
  }
  @include desktop {
    display: flex;
    position: relative;
    margin-left: 5.8rem;
    font-weight: 600;
    font-size: 1.875rem;
  }
}

.gallery__item {
  display: flex;
  justify-content: center;
  margin: 2%;
  @include tablet {
    width: 25%;
  }
}

.gallery__item img {
  max-width: 100%;
  height: auto;
}
