@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url("assets/fonts/AvenirNextLTPro-Demi.otf") format("opentpe");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url("assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url("assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url("assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", sans-serif;
}

.header {
  background-color: #323232;
  color: #E1E1E1;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 3.75rem;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 5.5vh;
    padding-left: 3.75rem;
    align-items: flex-end;
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__content {
    flex-direction: row;
    display: inline-flex;
    align-items: baseline;
    margin-left: -6.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__content {
    flex-direction: row;
    display: inline-flex;
    align-items: baseline;
    margin-right: 25rem;
    width: 50%;
  }
}

.header__logo {
  margin-left: 0.625rem;
}

.header__title {
  text-decoration: none;
  font-size: 2rem;
  color: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header__menu {
  color: #E1E1E1;
  display: flex;
  text-decoration: none;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .header__menu {
    border-bottom: none;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    width: 40%;
    margin-left: 0.625rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu {
    border-bottom: none;
    display: flex;
    text-decoration: none;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.header__menu-list {
  width: 40%;
  border-bottom: 0.125rem solid #323232;
  padding-bottom: 1rem;
}
.header__menu-list--active {
  color: white;
  border-color: white;
}
@media screen and (min-width: 768px) {
  .header__menu-list--active {
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 0.25rem solid white;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu-list--active {
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 0.25rem solid white;
  }
}

footer {
  background-color: #323232;
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    display: flex;
    height: 50%;
  }
}

.footer__text {
  margin-left: 0.625rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  padding-bottom: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__text {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__text {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 5.625rem;
    width: 100%;
    margin-left: -4.375rem;
  }
}

.footer__socialmedia img {
  margin-right: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__socialmedia {
    left: 15.625rem;
    bottom: 2.5rem;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socialmedia {
    flex-direction: row;
    left: 31.25rem;
    bottom: 7.4375rem;
  }
}

@media screen and (min-width: 768px) {
  a {
    margin-right: 0.625rem;
  }
}
@media screen and (min-width: 1280px) {
  a {
    margin-right: 1.625rem;
  }
}

.footer__title {
  padding-top: 1.5rem;
  padding-bottom: 0.625rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 1.875rem;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 2.1875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 1.875rem;
    font-weight: 400;
    position: relative;
    bottom: 5rem;
    left: 13.5rem;
  }
}

.footer__manager,
.footer__bookingagent-pearl,
.footer__bookingagent-carson {
  padding-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer__manager,
  .footer__bookingagent-pearl,
  .footer__bookingagent-carson {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__manager,
  .footer__bookingagent-pearl,
  .footer__bookingagent-carson {
    width: -moz-max-content;
    width: max-content;
    margin-left: 1.25rem;
  }
}

.footer__logo {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-top: 2.5rem;
    left: 37.5rem;
    position: absolute;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin-top: -1.625rem;
    left: 65.625rem;
    position: absolute;
  }
}

.footer__copyright {
  font-size: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    position: relative;
    margin-bottom: 1.25rem;
    left: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-left: 13rem;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__containers {
    display: inline-flex;
    margin-right: 1.25rem;
    justify-content: space-around;
    margin-bottom: 3.125rem;
    margin-left: 1.25rem;
    white-space: nowrap;
    padding-left: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__containers {
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 1.25rem;
    margin-top: 3.125rem;
    right: 1.5625rem;
    position: relative;
  }
}

.footer__bookingagent-pearl-name,
.footer__bookingagent-carson-name,
.footer__manager-name {
  font-weight: 500;
  white-space: nowrap;
  margin-right: 1.25rem;
  padding-bottom: 0.625rem;
}

.footer__manager-email,
.footer__bookingagent-carson-email,
.footer__bookingagent-pearl-email {
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

@media screen and (min-width: 768px) {
  .footer__bookingagent-carson-container {
    padding-left: 1.5625rem;
  }
}

.body {
  display: flex;
}

.hero__image {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-color: black;
  height: 60vw;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__image {
    height: 40vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    height: 50vw;
  }
}

.hero__opacity {
  background-color: #323232;
  background-size: cover;
  height: 100%;
  opacity: 0.5;
  position: relative;
}

.hero__text {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: flex;
  bottom: auto;
  top: -65%;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.625rem;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 5rem;
    display: flex;
    bottom: auto;
    margin-left: 6.5rem;
    font-weight: 600;
    margin-top: 6.25rem;
  }
}

.about {
  padding: 1rem;
}
@media screen and (min-width: 1280px) {
  .about {
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 1rem;
  }
}

.about__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__image {
    margin: auto;
    height: 21.875rem;
    width: 83%;
    margin-left: 3.125rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    height: auto;
  }
}

.about__title {
  color: #323232;
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .about__title {
    position: relative;
    left: -1.25rem;
    font-size: 2.25rem;
    font-weight: 500;
  }
}

.about__quote {
  color: #323232;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .about__quote {
    margin-left: 3.125rem;
    margin-right: 1.25rem;
    padding-right: 3.125rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    margin-right: 5rem;
    padding-right: 12.5rem;
    font-weight: 500;
  }
}

.about__quote-author {
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 768px) {
  .about__quote-author {
    margin-left: 3.125rem;
  }
}

@media screen and (min-width: 768px) {
  .about__description {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .about__description {
    display: flex;
    flex-direction: row;
  }
}

.about__bandbio {
  color: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about__bandbio {
    margin: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__bandbio {
    margin: right 1rem;
  }
}

.about__bandname {
  font-size: 1rem;
  color: #323232;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about__bandname {
    margin-left: 1.875rem;
    font-size: 1.5rem;
    margin-bottom: 0.3125rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__bandname {
    display: flex;
    flex-direction: row;
  }
}

.gallery {
  color: #323232;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  padding: 1rem;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .gallery {
    justify-content: center;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    justify-content: center;
  }
}

.gallery__title {
  padding-left: 1.25rem;
  font-weight: 500;
  position: relative;
  top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    display: flex;
    position: relative;
    margin-left: 3rem;
    font-weight: 400;
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    display: flex;
    position: relative;
    margin-left: 5.8rem;
    font-weight: 600;
    font-size: 1.875rem;
  }
}

.gallery__item {
  display: flex;
  justify-content: center;
  margin: 2%;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    width: 25%;
  }
}

.gallery__item img {
  max-width: 100%;
  height: auto;
}

.comments__container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.625rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comments__container {
    margin-left: 1.875rem;
    padding-top: 1.875rem;
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .comments__container {
    padding: 1.875rem;
  }
}
.comments__container h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: #323232;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .comments__container h2 {
    font-size: 2.125rem;
  }
}
.comments__container .comments__form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-bottom: 0.125rem solid #e1e1e1;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .comments__container .comments__form {
    width: 50%;
    margin-top: 3.125rem;
  }
}
.comments__container .comments__form label {
  display: flex;
  flex-direction: column;
}
.comments__container .comments__form input[name=name] {
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
  background-color: rgb(250, 250, 250);
  font-size: 0.75rem;
  width: 75%;
  margin-left: 0.625rem;
}
.comments__container .comments__form input[name=name]:focus {
  outline: none;
  border-color: blue;
}
.comments__container .comments__form input[name=comment] {
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
  background-color: rgb(250, 250, 250);
  font-size: 0.75rem;
  width: 75%;
  height: 100%;
  padding-bottom: 6.25rem;
  margin-left: 3.75rem;
}
.comments__container .comments__form .comments__label-name,
.comments__container .comments__form .comments__label-comment {
  font-size: 0.6875rem;
  color: #AFAFAF;
  display: flex;
  margin-left: 3.75rem;
  padding: 0.3125rem;
  font-weight: 600;
}
.comments__container .comments__form .input-with-icon {
  display: flex;
  align-items: center;
}
.comments__container .comments__form .input-with-icon img {
  margin-right: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.comments__container button {
  padding: 0.625rem;
  border-radius: 0.3125rem;
  background-color: #323232;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  width: 75%;
  margin-left: 3.75rem;
  margin-bottom: 2.5rem;
  border: none;
}
@media screen and (min-width: 768px) {
  .comments__container button {
    width: 20%;
    margin-left: 27.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments__container button {
    width: 25%;
    height: 100%;
    margin-left: 20.9375rem;
  }
}
.comments__container button:hover {
  background-color: darkblue;
}

.comments {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .comments {
    padding: 4.375rem;
    padding-top: 1.875rem;
    font-size: 1rem;
    padding-bottom: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    margin-left: 0;
    padding: 20.9375rem;
    padding-top: 0;
    padding-bottom: 1.875rem;
  }
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0.625rem;
  padding: 0.3125rem;
  border-bottom: 0.125rem solid #e1e1e1;
}

.commentDate {
  color: #AFAFAF;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  margin-left: 5.625rem;
}
@media screen and (min-width: 768px) {
  .commentDate {
    margin-left: 21.875rem;
  }
}

.commentImg {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  margin-right: 0.625rem;
  border-radius: 50%;
}

.commentName {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .commentName {
    margin-top: 0.3125rem;
  }
}

.commentText {
  margin-left: 3.125rem;
}/*# sourceMappingURL=bio.css.map */