@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url("assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url("assets/fonts/AvenirNextLTPro-Demi.otf") format("opentpe");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url("assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  src: url("assets/fonts/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  src: url("assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir Next";
  font-weight: 700;
  src: url("assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", sans-serif;
}

.header {
  background-color: #323232;
  color: #E1E1E1;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 60px;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: flex-end;
  }
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__content {
    flex-direction: row;
    display: inline-flex;
    align-items: baseline;
    margin-left: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .header__content {
    flex-direction: row;
    display: inline-flex;
    align-items: baseline;
    margin-right: 400px;
    width: 50%;
  }
}

.header__logo {
  margin-left: 10px;
}

.header__title {
  text-decoration: none;
  font-size: 2rem;
  color: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.header__menu {
  color: white;
  display: flex;
  text-decoration: none;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    border-bottom: none;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    width: 80%;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu {
    border-bottom: none;
    display: flex;
    text-decoration: none;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.header__menu-list {
  width: 50%;
  border-bottom: 2px solid #323232;
  padding-bottom: 1rem;
  color: #E1E1E1;
}
.header__menu-list--active {
  color: white;
  border-color: white;
}
@media screen and (min-width: 768px) {
  .header__menu-list--active {
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 4px solid white;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu-list--active {
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 4px solid white;
  }
}

footer {
  background-color: #323232;
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    display: flex;
    height: 50%;
  }
}

.footer__text {
  margin-left: 10px;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__text {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 60px;
    width: 100%;
  }
}

.footer__socialmedia img {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .footer__socialmedia {
    left: 250px;
    bottom: 40px;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socialmedia {
    flex-direction: row;
    left: 31.25rem;
    bottom: 7.4375rem;
  }
}

@media screen and (min-width: 768px) {
  a {
    margin-right: 0.625rem;
  }
}

.footer__title {
  padding-top: 1.5rem;
  padding-bottom: 10px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 1.875rem;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 2.1875rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 1.875rem;
    font-weight: 400;
    position: relative;
    bottom: 5rem;
    left: 13.5rem;
  }
}

.footer__manager,
.footer__bookingagent-pearl,
.footer__bookingagent-carson {
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__manager,
  .footer__bookingagent-pearl,
  .footer__bookingagent-carson {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__manager,
  .footer__bookingagent-pearl,
  .footer__bookingagent-carson {
    width: -moz-max-content;
    width: max-content;
    margin-left: 1.25rem;
  }
}

.footer__logo {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-top: 3.5rem;
    left: 37.5rem;
    position: absolute;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin-top: -0.625rem;
    left: 65.625rem;
    position: absolute;
  }
}

.footer__copyright {
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    position: relative;
    margin-bottom: 1.25rem;
    left: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-left: 13rem;
  }
}

@media screen and (min-width: 768px) {
  .footer__containers {
    display: inline-flex;
    margin-right: 1.25rem;
    justify-content: space-around;
    margin-bottom: 3.125rem;
    margin-left: 1.25rem;
    white-space: nowrap;
    padding-left: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__containers {
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 1.25rem;
    margin-top: 3.125rem;
    right: 1.5625rem;
    position: relative;
  }
}

.footer__bookingagent-pearl-name,
.footer__bookingagent-carson-name,
.footer__manager-name {
  font-weight: 500;
  white-space: nowrap;
  margin-right: 1.25rem;
  padding-bottom: 10px;
}

.footer__manager-email,
.footer__bookingagent-carson-email,
.footer__bookingagent-pearl-email {
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer__bookingagent-carson-container {
    padding-left: 1.5625rem;
  }
}

.hero {
  background-color: black;
  z-index: 0;
}

.hero__image {
  background-image: url("../assets/images/hero-shows.jpg");
  background-color: black;
  background-size: cover;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .hero__image {
    height: 40vw;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    height: 40vw;
  }
}

.hero__soundCloud {
  padding: 10px;
  z-index: 10;
}

.hero__opacity {
  background-size: 500px;
  background-color: red;
  opacity: 0.5;
  z-index: 0;
}

.hero__text {
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  display: flex;
  margin-top: 20px;
  bottom: auto;
  top: -85%;
  font-weight: 400;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    font-weight: 600;
    margin-top: 9.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 5rem;
    display: flex;
    bottom: auto;
    margin-left: 6.5rem;
    font-weight: 600;
    margin-top: 100px;
  }
}

.showSection {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-bottom: 2px solid #E1E1E1;
  margin-top: 10px;
  margin-left: 10px;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card p {
  margin: 0;
  padding: 0;
}

.card .date {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
}

.card .venue {
  font-size: 12px;
  margin-bottom: 5px;
}

.card .location {
  font-size: 12px;
  margin-bottom: 10px;
}

.button {
  background-color: #323232;
  color: white;
  border-radius: 5px;
  padding: 10px 80px;
  border: none;
}

.card .dateTitle, .venueTitle, .locationTitle {
  font-size: 11px;
  color: #AFAFAF;
  font-weight: 400;
}/*# sourceMappingURL=shows.css.map */