@use "partials/global" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

.hero__image {
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  height: fit-content;
  position: relative;

  @include tablet {
    height: 45vh;
  }
  @include desktop {
    height: 50vh;
  }
}
.hero__sound-cloud {
  padding: .625rem;
  z-index: 10;
  position: relative;

  @include tablet {
    padding-right: 7.5rem;
    padding-left: 1.25rem;
  }
  @include desktop {
    padding-top: 5rem;
  }
}

.hero__sound-cloud-player {
  height: 6.25rem;
  @include tablet {
    width: 65%;
    height: 10vh;
    margin-top: 1.25rem;
  }
  @include desktop {
    margin-top: -9.375rem;
    margin-left: 50rem;
    width: 35%;
    margin-bottom: 1.875rem;
  }
}

.hero__opacity {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
}

.hero__text {
  color: $primarywhite;
  text-decoration: none;
  position: relative;
  display: flex;
  margin-top: 1.25rem;
  bottom: auto;
  top: -85%;
  font-weight: 400;
  padding-right: 5rem;

  @include tablet {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 2.5rem;
  }
  @include desktop {
    display: flex;
    bottom: auto;
    margin-left: 6.5rem;
    font-weight: 500;
    margin-top: 12.5rem;
    padding-right: 32rem;
    font-size: 1.25rem;
  }
}
.hero__text strong {
  @include tablet {
    margin-top: -2.5rem;
    font-size: 4rem;
    font-weight: 600;
  }
  @include desktop {
    margin-top: -11.25rem;
  }
}

.showSection {
  display: flex;
  flex-wrap: wrap;
  color: $primaryblack;
  
  @include tablet {
    margin-top: 3.75rem;
    margin-left: .375rem;
  }
  @include desktop {
    display: flex;
    padding-left: 18.75rem;
    margin-bottom: 1.875rem;
  }
}
.shows__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 20px;
  @include tablet {
    display: flex;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 1.875rem;
    padding-left: 1.25rem;
    color: $primaryblack;
  }
  @include desktop {
    display: flex;
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 4.375rem;
    position: relative;
    top: 3.4375rem;
    padding-top: 0;
  }
}

.shows__dvl {
  display: none;
  
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: $secondarysilver;
    font-size: .75rem;
    margin-right: 13.125rem;
    margin-left: -3.75rem;
    margin-top: 1.25rem;
    margin-bottom: -3.125rem;
  }
  @include desktop {
    margin-left: 5rem;
    padding-right: 3.125rem;
    margin-bottom: -2.5rem;
    width: 90%;
    justify-content: space-evenly;
  }
}

.card {
  border-bottom: 2px solid $mercurycolor;
  margin-top: .625rem;
  padding: 1.25rem;
  width: 100%;
  height: 100%;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 0;
  }
}
.card:hover {
  background-color: lightgray;
  cursor: pointer;
}
.card p {
  margin: 0;
  padding: 0;
}

.card .date {
  font-size: .75rem;
  margin-bottom: .625rem;
  font-weight: 600;
}

.card .venue {
  font-size: .75rem;
  margin-bottom: .3125rem;
}

.card .location {
  font-size: .75rem;
  margin-bottom: .625rem;
}

.button {
  background-color: $primaryblack;
  color: white;
  border-radius: .3125rem;
  padding: .625rem 6rem;
  border: none;
@include tablet {padding: 0.725rem 1.575rem;}
  @include desktop {padding: .625rem 1.25rem;}
}
.card .dateTitle,
.venueTitle,
.locationTitle {
  font-size: .50rem;
  color: $secondarysilver;
  font-weight: 400;
  @include tablet {
    display: none;
  }
}
